[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

[mysqld]
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 128M

max_connections = 150
thread_cache_size = 32
table_open_cache = 400
table_definition_cache = 400

sort_buffer_size = 1M
join_buffer_size = 1M
tmp_table_size = 32M
max_heap_table_size = 32M

log_error = /var/log/mysql/error.log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 3

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect = SET NAMES utf8mb4
