[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

[mysqld]
socket = /var/run/mysqld/mysqld.sock
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'
skip-character-set-client-handshake = true